<% page_info :title => "Pick a Milestone",
              :breadcrumb => [ link_to(h(@project.name), "/") ] %>

<% @inactive_milestones = [] %>
<% @closed_milestones = [] %>
<% @active_milestones = [] %>
<ul class="projects">
  <li>
    <h3><%=h @project.name %></h3>
    <p><%= @milestones.select{|m| m.active? }.size %> active burndown<%= 's' unless @milestones.size == 1 %></p>
    <% if @milestones.any? %>
      <ul class="milestones">
        <% @milestones.each do |milestone| 
            if not milestone.active? and milestone.activated_at.nil?
                @inactive_milestones.push(milestone)
            elsif not milestone.active?
                @closed_milestones.push(milestone)
            else
                @active_milestones.push(milestone)
            end
          end
        %>
        <% if @active_milestones.any? %>
        <% @active_milestones.each do |milestone| %>
        <li>
          <h4><a href="/timeline/<%= milestone.id %>" class="<%= 'past_due' if milestone.past_due? %>"><%=h milestone.name %></a></h4>
          <p>
            Tracking for <%= distance_of_time_in_words(milestone.activated_at, Time.now) unless milestone.activated_at.nil? %>.
            <% if milestone.due_on && !milestone.past_due? %>
              Due in <%= distance_of_time_in_words(milestone.due_on, Time.now) %>.
            <% end %>
            <% if milestone.past_due? %><span class="past_due">Late by <%= distance_of_time_in_words(milestone.due_on, Time.now) %></span><% end %>
          </p>
        </li>
        <% end %>
        <% end %>
      </ul>
    <% else %>
      <p>You don't have any milestones setup, so you can't use burndown charts!</p>
    <% end %>
  </li>
  <% if @inactive_milestones.any? %>
  <li>
    <h3>Inactive Milestones</h3>
    <ul class="milestones">
      <% @inactive_milestones.each do |milestone| %>
      <li>
        <h4><%=h milestone.name %></h4>
        <p><a href="/milestone/<%= milestone.id %>/activate">Start Tracking</a></p>
      </li>
      <% end %>
    </ul>
  </li>
  <% end %>
   <% if @closed_milestones.any? %>
  <li>
    <h3>Closed Milestones</h3>
    <ul class="milestones">
      <% @closed_milestones.each do |milestone| %>
      <li>
        <h4><a href="/timeline/<%= milestone.id %>"><%=h milestone.name %></a></h4>
        <p>
          Tracked for <%= distance_of_time_in_words(milestone.activated_at, milestone.closed_at) unless milestone.closed_at.nil? %>.
        </p>
      </li>
      <% end %>
    </ul>
  </li>
  <% end %>

  <li>
    <h3>Configuration</h3>
    <ul class="configuration">
      <li>
        <p>
          Hours per day: <%= @project.hours_per_day %>
          <div class="form">
            <form action="/hours_per_day/<%= @project.id %>" method="post" id="hours_form">
              <p class="message" style="display:none"></p>

              <p><input type="text" name="hours_per_day" class="short" placeholder="8" value="<%= @project.hours_per_day %>" /></p>
              <ul class="form-actions">
                <li><button type="submit">Update Hours per Day</button></li>
              </ul>
              
              <div class="loader" style="display:none">
                Updating hours per day for project…
              </div>
            </form>
        </p>
      </li>
    </ul>
  </li>
</ul>