<% page_info :title => "Timeline",
              :breadcrumb => [ link_to(h(@milestone.project.name), "/"), link_to(h(@milestone.name), "/project/#{@milestone.project.id}") ] %>

<a href="<%= @milestone.external_url %>" class="lh-link">View in Lighthouse &rarr;</a>
<a href='<%= "/timeline/#{@milestone.id}/refresh" %>' class="refresh-link">Refresh (will be slow!)</a>

<% if @milestone.tickets_count > 0 %>
<div class="progress">
  <ul class="stats">
    <li><strong><%= @milestone.percent_complete %>%</strong> <span>percent tickets complete</span></li>
    <li><strong><%= @milestone.percent_time_complete %>%</strong> <span>percent time complete</span></li>
    <li><strong><%= @milestone.open_tickets_count %></strong> <span>open tickets</span></li>
    <li><strong><%= @milestone.time_left %></strong> <span>hours left</span></li>
    <li><strong><%= @milestone.due_on ? @milestone.due_on.strftime("%D") : "Not Due" %></strong> <span>due date</span></li>
    <li><strong><%= @milestone.tickets_count %></strong> <span>total tickets</span></li>
  
  </ul>
  <div class="progress-bar">
    <span class="bar" style="width:<%= @milestone.percent_complete %>%"></span>
  </div>
  <div class="progress-bar">
    <span class="bar time" style="width:<%= @milestone.percent_time_complete %>%"></span>
  </div>
</div>
<% end %>
<%
  @last_hours_left = nil
  def hours_left_for_day(events, day)
    day_event = events.select{ |e| e.created_on.strftime("%B %e") == day.strftime("%B %e") }[0]
    value = day_event ? day_event.hours_left : 0.0
    # Are we past today? Should we project a trajectory?
    if in_future?(day, @milestone)
      if is_weekday?(day)
        value = @last_hours_left - (@milestone.project.hours_per_day.nil? ? 0.0 : @milestone.project.hours_per_day)
      else
        value = @last_hours_left
      end
      
      if value < 0.0
        value = 0.0
      end
    end
    @last_hours_left = value
    value.to_f
  end
%>
<%
  @last_hours_elapsed = nil
  def hours_elapsed_for_day(events, day)
    day_event = events.select{ |e| e.created_on.strftime("%B %e") == day.strftime("%B %e") }[0]
    value = day_event ? day_event.hours_elapsed : 0.0
    # Are we past today? Should we project a trajectory?
    if in_future?(day, @milestone)
      if is_weekday?(day)
        value = @last_hours_elapsed + (@milestone.project.hours_per_day.nil? ? 0.0 : @milestone.project.hours_per_day)
      else
        value = @last_hours_elapsed
      end
      
      if value < 0.0
        value = 0.0
      end
    end
    @last_hours_elapsed = value
    value.to_f
  end
%>
<div class="graph">
  <table class="timeline">
    <tfoot>
      <tr>
        <% @milestone.start_date.upto(@milestone.end_date) do |day| %>
          <th><%= day.strftime("%d/%m") %></th>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <tr id="hours_left">
        <% @milestone.start_date.upto(@milestone.end_date) do |day| %>
          <td class="<%= 'future' if in_future?(day, @milestone) %>"><%= hours_left_for_day(@timeline_events, day) %></td>
        <% end %>
      </tr>
      <tr id="hours_elapsed">
          <% @milestone.start_date.upto(@milestone.end_date) do |day| %>
            <td class="<%= 'future' if in_future?(day, @milestone) %>"><%= hours_elapsed_for_day(@timeline_events, day)%></td>
          <% end %>
      </tr>
    </tbody>
  </table>
  <div id="holder"></div>
</div>

<ol class="timeline">
  <% @timeline_events.each do |event| 
    if event.created_on.to_date < @milestone.start_date.to_date then
        next
    end
  %>
  
  <li>
    <h3><%= event.created_on.strftime("%B %e") %></h3>
    <span class="big"><%= "+" if event.hours_left_change > 0.0 %><%= event.hours_left_change %></span>
    <ul class="events">
      <% if event.tickets_opened > 0 %>
        <li><strong>Opened</strong> <em class="positive"><%= event.tickets_opened %></em> ticket<%= 's' unless event.tickets_opened == 1 %></li>
      <% end %>
      <% if event.tickets_closed > 0 %>
        <li><strong>Closed</strong> <em class="negative"><%= event.tickets_closed %></em> ticket<%= 's' unless event.tickets_closed == 1 %></li>
      <% end %>
      <% if event.hours_left_change < 0.0 %>
        <li><strong>Progressed</strong> <em class="negative"><%= -1.0*event.hours_left_change %></em> hour<%= 's' unless event.hours_left_change == -1.0 %></li>
      <% end %>
      <% if event.hours_left_change > 0.0 %>
        <li><strong>Added</strong> <em class="positive"><%= event.hours_left_change %></em> hour<%= 's' unless event.hours_left_change == 1.0 %></li>
      <% end %>
      <% if event.hours_elapsed_change > 0.0 %>
        <li><strong>Elapsed</strong> <em class="positive"><%= event.hours_elapsed_change %></em> hour<%= 's' unless event.hours_elapsed_change == 1.0 %></li>
      <% end %>

      <% if event.tickets_opened == 0 && event.tickets_closed == 0 and event.hours_elapsed_change == 0.0 and event.hours_left_change == 0.0 %>
        <li><strong>No changes</strong></li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <li>
    <h3><%= @milestone.start_date.strftime("%B %e") %></h3>
    <ul class="events">
      <li><strong>Started</strong> tracking milestone</li>
    </ul>
  </li>
</ol>
